/* Base */
body {
  font-family: Arial;
  font-size:14px;
  margin: 0;
}

/* Navigation */
.navigation-container {
  background-color: #000;
}
.nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav li {
  display: inline-block;
}

.nav > li > a {
  display: block;
  padding: 10px;
  color: #bbbbbb;
  text-decoration: none;
}

.nav > li > .active,
.nav > li > a:hover {
  color: #ffffff;
}

/* Search */
.search-container {
  background-color: #f4f4f4;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 10px; // top/bottom, right/left
}

.search-form {
  margin: 0;
}

/* Main */
.main-container {
  margin-left: 135px;
  width: 512px;
}

/* Search Results */

.search-result-list {
  padding-left: 0;
  list-style: none;
}

.search-result-list > li {
  margin-bottom: 30px;
}

.search-result-title {
  margin: 0;
}

.search-result-title a {
  font-weight: normal;
}

.search-result-source {
  display: block;
  font-style: normal;
  color: #009933;
}
